@import '_bootstrap.min';

// variables

$fonts:    Georgia, Helvetica, sans-serif;

body {
  padding-top: 50px;
}

.jumbotron {
  position: relative;
   background: linear-gradient(
    rgba(36, 86,221,.6),
    rgba(36, 86,221,.6)
    ),
    url(./images/dam2.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    overflow: hidden;

    h1 {
      text-align: right;
      font-family: $fonts;
      margin: 0;
      padding: 0;
      line-height: 80%;
    }
    h2 {
      text-align: right;
      color:white;

    }
}

.project {
  position: relative;
   background: linear-gradient(
    rgba(194, 54, 54,.45),
    rgba(194, 54, 54,.45)
    ),
    url(./images/stack.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    overflow: hidden;

    h1 {
      margin-top: 15%;
    }

}


    .horiz {
      border: 0;
      height: 1px;
      background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      line-height: 175%;
}


footer {
  background-color: rgba( 9, 47,150,1);
  color: #fff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

  ul {
    list-style: none;
    font-family: $fonts;
  }
}

.foot {
  background-color: rgba( 118,  2,  2,1);
}

.logo {
  height: 64px;
  width: 64px;
}

.project-logo {
  height:240px;
  width:120px;
}
