body {
font-family:Arial; 
 
}
a {
 color:white;
}

a:hover {
 
 color:red;
 transform: scale (1.2);

}


.asideOut {
 background-image: url("stardust.png");
}


.asideOut {
float: right;
width: 500px;
height:350px;
border: black solid 4px;
text-align:left;
padding-top:none;
color:white;

}

.asideOut h2 {
padding-left:10%;
font-size:22pt;
}

.asideOut li {
font-size:170%;
}

header {
text-align:center;
color:white;
height:200px;
padding:15px;
background: linear-gradient(to left, black, gray);

}

header img {
float:right;

} 

header img:hover {
transform: rotate(8deg);
}

.headerOne h1 {
font-size:530%;
font-weight:bold;
margin-bottom:0;
}

.headerOne p {
font-size:160%
}
section ul li {
font-size: 13pt;
line-height: 25px;
}

section {
border:solid 4px;
text-align:left;
padding:0 20px 0 15px;
}

section {
background-image: url("halftone.png");




