 <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-7">
            <h1>E. Andrew Eccleston</h1>
            <h2>Web Developer</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="horiz"></div>

    <section>

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="title">Experience</h3>
              <ul class="media-list">
                <li class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object logo" src="../views/images/primelogo.png" alt="Prime Logo">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Prime Academy <span><h5>October 2015 - January 2016</h5></span></h4>
                      <p>
                        An 18-week accelerated learning program teaching foundational software engineering skills through a full MEAN stack development curriculum.
                      </p>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object logo" src="../views/images/wikistrat.png" alt="wikistrat Logo">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Wikistrat</h4>
                    <h5>2011 - 2016</h5>
                      <p>Researched and wrote analysis on complex issues surrounding globalization and international relations.
                      </p>
                      <p><em>Client Simulations</em></p>
                      <ul>
                        <li>NATO 2030 and Beyond</li>
                        <li>Alternative Futures from Trans-Sahel Illicit Trafficking</li>
                        <li>Eurasian Resource and Economic Trajectories</li>
                        <li>Playing the Azerbaijani Card</li>
                        <li>and many others</li>
                      </ul>
                  </div>
                </li>
                <li class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object logo" src="../views/images/stericycle.jpg" alt="Stericycle Logo">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">Stericycle</h4>
                     <h5>2013-2015</h5>
                      <p>
                        Responsible for the safe packaging and transportation of Hazardous Waste, in multiple jurisdictions, in compliance with local and Federal regulations.
                      </p>
                  </div>
                </li>
            </ul>
          </div>


          <div class="col-md-6">
            <h3>Projects</h3>
            <ul>
              <li class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object project-logo" src="../views/images/cons.png" alt="Logo">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">Conscious Shopper App</h4>

                  <p>
                    This is my Prime Academy final group project. For this project we worked with our client to make a shopping app. The app allows the shopper to find stores that conform to ethical standards like, sustainable, locally-made or eco-friendly. The app is designed for tablet and mobile, so the user can shop on the go.
                  </p>
                  <h5>Technologies</h5>
                  <ul>
                    <li>HTML/CSS, Bootstrap, jQuery</li>
                    <li>Node, Express, MongoDB</li>
                    <li>Google Locate, Nodemailer, Passport</li>
                  </ul>

                  <p>
                    <strong>Project Github Repo: </strong> <a href="http://github.com/karlhass15/csa">github.com/karlhass15/csa</a>
                  </p>
                  <p>
                    <strong>Project Website: </strong> <a href="http://www.consciousshopperapp.com/">consciousshopperapp.com</a>
                  </p>
                </div>
              </li>
            </ul>
          </div>


    </section>

    <div class="horiz"></div>