    <div class="jumbotron project">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-7">
            <h1>Education</h1>
            <h2>& Technologies</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="horiz">

    </div>

    <section>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="title">Education</h3>
        <ul class="media-list">
          <li class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object logo" src="../views/images/primelogo.png" alt="Prime Logo">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Prime Academy</h4>
              <h5>October 2015 - January 2016</h5>
                <p>
                  An 18-week accelerated learning program teaching foundational software engineering skills through a full MEAN stack development curriculum.
                </p>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object logo" src="../views/images/amu.jpg" alt="Logo">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">American Military University</h4>
              <h5>2008 - 2012</h5>
                <p>
                  Masters of Arts Degree in Political Science with an emphasis on Comparative Politics and Development.
                </p>
            </div>
          </li>
          <li class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object logo" src="../views/images/uwrf.jpeg" alt="Logo">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">University of Wisconsin-River Falls</h4>
              <h5>1998 - 2001</h5>
                <p>
                  Bachelor of Science in Political Science
                </p>
            </div>
          </li>


      </ul>
      </div>

      <div class="col-md-6">
        <h3 class="title">Technologies</h3>
        <ul class = "nav nav-tabs tabby" >
            <li ng-class="{active: checkTab(1)}"><a href ng-click="setTab(1)">Frameworks</a></li>
            <li ng-class="{active: checkTab(2)}"><a href ng-click="setTab(2)"> Development Tools</a></li>
            <li ng-class="{active: checkTab(3)}"><a href ng-click="setTab(3)">Databases</a></li>
        </ul>
        
        <div ng-show="checkTab(1)" class="well">
            <ul>
         <li class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object logo" src="../views/images/MEAN.png" alt="Logo">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">MEAN stack</h4>
            <p>
              Mongo DB, Angular, Express, Node
            </p>
          </div>
        </li>   
              <li class="media">
                <div class="media-left">
                    <a href="#">
                    <img class="media-object logo" src="../views/images/angular.png" alt="Logo">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Angular js</h4>
                    <p>
                    Javascript Framework
                    </p>
                </div>
              </li>
         <li class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object logo" src="../views/images/express.jpg" alt="Logo">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Node & Express</h4>
            <p>
              Web Applicaiton Framework
            </p>
          </div>
        </li>
                <li class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object logo" src="../views/images/jquery.png" alt="Logo">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">jQuery</h4>
            <p>
              Javascript Framework
            </p>
          </div>
        </li>
            </ul>
        </div>
        
        <div class="well" ng-show="checkTab(2)">
            <ul>
                <li class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object logo" src="../views/images/Octocat.png" alt="Logo">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Git & Github</h4>
            <p>
              Version Control
            </p>
          </div>
        </li>
         <li class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object logo" src="../views/images/gulp.png" alt="Logo">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Gulp</h4>
            <p>
              Build System
            </p>
          </div>
        </li>
                <li class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object logo" src="../views/images/grunt.png" alt="Logo">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Grunt</h4>
            <p>
              Javascript Task Runner
            </p>
          </div>
        </li>
        <li class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object logo" src="../views/images/sass.svg" alt="Logo">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Sass</h4>
            <p>
              CSS Preprocessor
            </p>
          </div>
        </li>
            </ul>
            
        </div>
        
     <div class="well" ng-show="checkTab(3)">  
      <ul>

         <li class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object logo" src="../views/images/mongo.png" alt="Logo">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Mongodb</h4>
            <p>
              NoSQL Database
            </p>
          </div>
        </li>
               <li class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object logo" src="../views/images/postgress.png" alt="Logo">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">PostgreSQL</h4>
            <p>
              Opensource SQL Database
            </p>
          </div>
        </li>
      </ul>
</div> 


      </div>


    </div>
  </div>


    </section>

    <div class="horiz"></div>

   